body{
    background-color: rgb(14, 15, 60);
    text-align:right ;
  }
  
  h1{
    font-size: 40px;
    color: rgb(174, 197, 235);
    text-align: center;
  }
  
  h2{
    font-size: 30px;
    color: rgb(174, 197, 235);
    text-align: center;
  }
  
  h3{
    font-size: 25px;
    color: rgb(190, 62, 130);
  }
  
  h6{
    font-size: 20px;
    color: rgb(228, 63, 111);
  }
  
  p{
    text-align: left;
    font-size: 12px;
    color: rgb(10, 142, 127);
  }
  
  img{
    float: left;
    height: 100px;
    width: 100px;
    margin: 10px;
    border-color: rgb(10, 142, 127);
    border-width: 4px;
    border-style:dashed;
    border-radius: 25px;
  }
  
  hr{
    border-color: rgb(174, 197, 235);
  }
  